body {
	background-color: grey;
	color: #FFF;
	text-align: center;
	font-family: Helvetica;
}

p {
	font-size: 12px;
	font-style: italic;
}

#forecastIcon {
	padding: 20px;
}

#forecastContainer {
	width: 600px;
	margin: 0px auto;
	padding: 20px;
}

.name {
	width: 250px;
	padding: 5px;
	margin: 5px;
}

.time {
	width: 250px;
	padding: 5px;
	margin: 5px;
}

.delete {
	width: 100px;
	padding: 5px;
	margin: 5px;
	background-color: #FF1F62;
	color: #FFF;
}

.delete:hover {
	background-color: #FF729C;
}

.h1 {
	text-align: center;
}

.cold {
	background-color: #95A5A6;
}

.chilly {
	background-color: #1ABC9C;
}

.nice {
	background-color: #2980B9;
}

.warm {
	background-color: #E67E22;
}

.hot {
	background-color: #E74C3C;
}